* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear{
  height: 200px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 70px 0;
    background-color: blue;
    background-size: cover;
    background-image: url(../images/1622095_1096879087010866_7497498882068019382_n.jpg);
    color: #red;
    position: fixed;
    width: 100%;
}

header:after, header:before {
    content: "";
    clear: both;
    display: table;
}

nav {
    float: right;
}

.hl {
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    padding: 10px;
    font-size: 30px


}

article {
    width: 50%;
    float: left;
    padding: 40px;


}

section:after, section:before {
    content: "";
    clear: both;
    display: table;
}

footer {
    background-color: #81D58B;
    color: navy;
    padding: 40px 0;

}

.quaterNav{

padding: 20px;
border-left: 2px solid beige;
width: 25%;
float: left;

}

.quaterNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 10px;


}

.quaterNav a {
  display: block;
  color: ##81D58B;
  padding: 10px
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #81D58B;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    /*background-color:;*/
}
